<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
    <h1>index!!!!!!!</h1>
    <div>
        <form action="/" method="POST">
            <lable for="url">url</lable>
            <input type="url" id="url" name="url" required>
            <lable for="language">language</lable>
            <input type="text" id="language" name="language" required>
            <lable for="subtitles">subtitles</lable>
            <textarea id="subtitles" name="subtitles" required></textarea>
            <button>submit</button>
        </form>
    </div>
</body>
</html>